<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AzureModelRetrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <AzureModelRetrainer.Properties.Settings>
      <setting name="mlretrainermodelurl" serializeAs="String">
        <value />
      </setting>
      <setting name="mlretrainerkey" serializeAs="String">
        <value />
      </setting>
      <setting name="enpointurl" serializeAs="String">
        <value />
      </setting>
      <setting name="endpointkey" serializeAs="String">
        <value />
      </setting>
      <setting name="endpointname" serializeAs="String">
        <value />
      </setting>
      <setting name="mlstoragekey" serializeAs="String">
        <value />
      </setting>
      <setting name="mlstoragecontainer" serializeAs="String">
        <value />
      </setting>
      <setting name="mlstoragename" serializeAs="String">
        <value />
      </setting>
    </AzureModelRetrainer.Properties.Settings>
  </userSettings>
</configuration>