<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMLRetrainUsingSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AMLRetrainUsingSQL.Properties.Settings>
            <setting name="mlretrainermodelurl" serializeAs="String">
                <value>https://ussouthcentral.services.azureml.net/workspaces/bfeea278c505495b866dc9a5dfa10018/services/36499f37fd3d4706a16d3d90fbaad996/jobs</value>
            </setting>
            <setting name="mlretrainerkey" serializeAs="String">
                <value>Y+1+7H7alQ2H9Yu7dVmiFc6fDO1vZbdbPIZZv434m2tAei9WgtlMHx186U7fdJyH/dwUdzy286EyjFkMcBTAgg==</value>
            </setting>
            <setting name="mlstoragename" serializeAs="String">
                <value>mlretrainerstoragejd</value>
            </setting>
            <setting name="mlstoragekey" serializeAs="String">
                <value>N47GAKHoX5rjFqRox51McDthQ65nIKf77CYJ9vv/vG/6I9Bj2WwAp+LOuN+WIbJVgRE2gHUbDzdGsBofkj2+WA==</value>
            </setting>
            <setting name="mlstoragecontainer" serializeAs="String">
                <value>retrainerdata</value>
            </setting>
            <setting name="endpointname" serializeAs="String">
                <value />
            </setting>
            <setting name="enpointurl" serializeAs="String">
                <value />
            </setting>
            <setting name="endpointkey" serializeAs="String">
                <value />
            </setting>
        </AMLRetrainUsingSQL.Properties.Settings>
    </userSettings>
</configuration>